<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'RESET_PASSWORD' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ng-container *ngIf="!validating; else loading">

    <ng-container *ngIf="isTokenValid; else tokenInvalid">

      <form [formGroup]="passwordResetForm" (ngSubmit)="submitNewPassword()">

        <ion-item>

          <ion-input type="password"
                     formControlName="password"
                     placeholder="{{ 'PASSWORD' | translate }}">
          </ion-input>

        </ion-item>

        <ion-item>

          <ion-input type="password"
                     formControlName="passwordRepeat"
                     placeholder="{{ 'PASSWORD_REPEAT' | translate }}">
          </ion-input>

        </ion-item>

        <ion-button type="submit" color="secondary" expand="full"
                    [disabled]="!passwordResetForm.valid">
          {{ 'SEND' | translate }}
        </ion-button>

      </form>

      <div class="navigation-links">
        <a routerLink="/login">{{ 'BACK' | translate }}</a> /
        <a routerLink="/trip-codes">{{ 'REGISTER' | translate }}</a>
      </div>

    </ng-container>

    <ng-template #tokenInvalid>

      <h1>{{ 'INVALID_TOKEN'| translate }}</h1>

      <p>{{ 'INVALID_TOKEN_REQUEST_NEW_ONE' | translate }}</p>

      <ion-button routerLink="/forgot-password" color="secondary" expand="full">
        {{ 'REQUEST' | translate }}
      </ion-button>

    </ng-template>

  </ng-container>

  <ng-template #loading>

    <app-loading-spinner-content message="VALIDATING_TOKEN"></app-loading-spinner-content>

  </ng-template>

</ion-content>
