<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'RESET_PASSWORD' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ng-container *ngIf="!validating; else loading">

    <ng-container *ngIf="isTokenValid; else tokenInvalid">

      <form [formGroup]="passwordResetForm" (ngSubmit)="submitNewPassword()">

        <ion-item>

          <ion-input type="password"
                     formControlName="password"
                     placeholder="{{ 'PASSWORD' | translate }}">
          </ion-input>

          <div *ngIf="password.invalid && (password.dirty || password.touched )"
               class="form-input-validation-error-messages">

            <div *ngIf="password.errors?.required">
              {{ 'THIS_FIELD_IS_REQUIRED' | translate }}
            </div>

            <div *ngIf="password.errors?.minlength">
              {{ 'MIN_LENGTH_8_CHAR' | translate }}
            </div>

          </div>

        </ion-item>

        <ion-item>

          <ion-input type="password"
                     formControlName="passwordConfirm"
                     placeholder="{{ 'PASSWORD_REPEAT' | translate }}">
          </ion-input>

          <div *ngIf="passwordConfirm.dirty || passwordConfirm.touched"
               class="form-input-validation-error-messages">

            <div *ngIf="passwordConfirm.invalid">

              <div *ngIf="passwordConfirm.errors?.required">
                {{ 'THIS_FIELD_IS_REQUIRED' | translate }}
              </div>

              <div *ngIf="passwordConfirm.errors?.minlength">
                {{ 'MIN_LENGTH_8_CHAR' | translate }}
              </div>

            </div>

            <div *ngIf="passwordResetForm.errors?.passwordMismatch">
              {{ 'PASSWORDS_DO_NOT_MATCH' | translate }}
            </div>

          </div>

        </ion-item>

        <ion-button type="submit" color="secondary" expand="full"
                    [disabled]="!passwordResetForm.valid">
          {{ 'SEND' | translate }}
        </ion-button>

      </form>

      <div class="navigation-links">
        <a routerLink="/login">{{ 'BACK' | translate }}</a> /
        <a routerLink="/trip-codes">{{ 'REGISTER' | translate }}</a>
      </div>

    </ng-container>

    <ng-template #tokenInvalid>

      <h1>{{ 'INVALID_TOKEN'| translate }}</h1>

      <p>{{ 'INVALID_TOKEN_REQUEST_NEW_ONE' | translate }}</p>

      <ion-button routerLink="/forgot-password" color="secondary" expand="full">
        {{ 'REQUEST' | translate }}
      </ion-button>

    </ng-template>

  </ng-container>

  <ng-template #loading>

    <app-loading-spinner-content message="VALIDATING_TOKEN"></app-loading-spinner-content>

  </ng-template>

</ion-content>
