<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'RESET_PASSWORD' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="passwordResetForm" (ngSubmit)="submitNewPassword()">

    <ion-item>

      <ion-input type="password"
                 formControlName="password"
                 placeholder="{{ 'PASSWORD' | translate }}">
      </ion-input>

    </ion-item>

    <ion-item>

      <ion-input type="password"
                 formControlName="passwordRepeat"
                 placeholder="{{ 'PASSWORD_REPEAT' | translate }}">
      </ion-input>

    </ion-item>

    <ion-button type="submit" color="secondary" expand="full"
                [disabled]="!passwordResetForm.valid">
      {{ 'SEND' | translate }}
    </ion-button>

  </form>

  <div class="navigation-links">
    <a routerLink="/login">{{ 'BACK' | translate }}</a> /
    <a routerLink="/trip-codes">{{ 'REGISTER' | translate }}</a>
  </div>

</ion-content>
