ion-content {
  --background: linear-gradient(#62ce63,#9de09d,#9de09d,#62ce63);
  --background-color: linear-gradient(#62ce63,#9de09d,#9de09d,#62ce63);
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

form {
  margin: auto;
  max-width: 500px;

  ion-item {
    --background: transparent;
  }

  ion-input {
    background: white;
    border-radius: 10px;
    padding: 0.3em !important; /* Override framework */
    border: none;
    margin: 1rem 0;
    text-align: center;

    input {
      font-size: 1.6em;
      text-align: center;
    }
  }

  p.error-message {
    background: rgba(250, 0, 0, 0.05);
    color: var(--ion-color-danger);
  }
}

ion-button {
  margin-top: 1rem;
}

.navigation-links {
  margin-top: 1rem;
  text-align: center;
  a {
    color: var(--ion-color-secondary);
  }
}
