<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'RECOVER_PASSWORD' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-text [innerHTML]=" 'ENTER_EMAIL_RECOVER_PASSWORD' | translate ">
  </ion-text>

  <form [formGroup]="passwordRecoveryForm" (ngSubmit)="submitEmail()">

    <ion-item>

      <ion-input autofocus="true" type="email"
                 formControlName="email" (ionFocus)="!accountNotFoundMesssage || clearErrors()"
                 placeholder="{{ 'EMAIL' | translate }}">
      </ion-input>

    </ion-item>

    <p *ngIf="accountNotFoundMesssage" class="error-message" padding>
      {{ accountNotFoundMesssage }}
    </p>

    <ion-button type="submit" color="secondary" expand="full"
                [disabled]="!passwordRecoveryForm.valid">
      {{ 'SEND' | translate }}
    </ion-button>

  </form>

  <div class="navigation-links">
    <a routerLink="/login">{{ 'BACK' | translate }}</a> /
    <a routerLink="/trip-codes">{{ 'REGISTER' | translate }}</a>
  </div>

</ion-content>
