<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'LOGIN' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div id="login-form-container">

    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()" id="login-form">

      <ion-item>

        <ion-input type="text" class="login-form-input"
                   formControlName="username"
                   placeholder="{{ 'USERNAME' | translate }}">
        </ion-input>

      </ion-item>

      <ion-item>

        <ion-input type="password" class="login-form-input"
                   formControlName="password"
                   placeholder="{{ 'PASSWORD' | translate }}">
        </ion-input>

      </ion-item>

      <ion-button type="submit" color="secondary" expand="full"
              [disabled]="!loginForm.valid"
              id="submit-login-button">
        {{ 'LOGIN' | translate }}
      </ion-button>

      <!-- TODO offer password recovery option -->

    </form>

    <div class="navigation-links">
      <a routerLink="/trip-codes">{{ 'REGISTER' | translate }}</a> /
      <a routerLink="/forgot-password">{{ 'FORGOT_MY_PASSWORD' | translate }}</a>
    </div>

  </div>

</ion-content>
