<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'REGISTER' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h1>{{ 'WELCOME_TO_KA' | translate }}</h1>

  <div *ngIf="reg.tripName">

    {{ 'REGISTERING_FOR' | translate }}:
    <div class="trip-name">{{ reg.tripName }}</div>

  </div>

  <p>{{ 'ADVENTURE_OF_A_LIFETIME' | translate }}</p>

  <p>{{ 'NO_HITCHES' | translate }}</p>

  <div id="register-form-container">

    <form [formGroup]="userRegistrationForm"
          (ngSubmit)="submitUserRegistration()"
          id="user-registration-form">

      <ion-item>

        <ion-label position="floating">
          {{ 'USERNAME' | translate }} <span class="required">*</span>
        </ion-label>

        <ion-input type="text" required
                   formControlName="username">
        </ion-input>

      </ion-item>

      <ion-item>

        <ion-label position="floating">
          {{ 'EMAIL' | translate }}
        </ion-label>

        <ion-input type="email"
                   formControlName="email">
        </ion-input>

      </ion-item>

      <ion-item>

        <ion-label position="floating">
          {{ 'PASSWORD' | translate }} <span class="required">*</span>
        </ion-label>

        <ion-input type="password" required minlength="8"
                   formControlName="password">
        </ion-input>

      </ion-item>

      <ion-item>

        <ion-label position="floating">
          {{ 'PASSWORD_CONFIRM' | translate }} <span class="required">*</span>
        </ion-label>

        <ion-input type="password" required minlength="8"
                   formControlName="passwordConfirm">
        </ion-input>

      </ion-item>

      <ion-button type="submit" expand="full"
                  [disabled]="!userRegistrationForm.valid"
                  id="submit-trip-code-button">
        {{ 'SEND' | translate }}
      </ion-button>

    </form>

    <div class="navigation-links">
      <a routerLink="/login">{{ 'LOGIN' | translate }}</a> /
      <a routerLink="/privacy-policy">{{ 'PRIVACY_POLICY' | translate }}</a>
    </div>

  </div>

</ion-content>
