<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'HOME' | translate | uppercase }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="home-card-container">

    <ion-card *ngFor="let card of cards">

      <img [src]="card.imageurl">

      <ion-card-header>
        <ion-card-title>{{ card.title | translate }}</ion-card-title>
      </ion-card-header>

      <ion-card-content [innerHTML]="card.content | translate | MarkdownToHtml ">
      </ion-card-content>

    </ion-card>

  </div>

</ion-content>
