<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'HOME' | translate | uppercase }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Let's Get Started</ion-card-subtitle>
        <ion-card-title>{{ 'WELCOME_TO_KA' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Slowly the app will grow as we add content.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
